.main_box .sidebar_menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 190px;
    padding: 0px 0px 10px 0px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .menu {
    position: absolute;
    top: 20px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 2px;
    padding: 4px 0px 4px 0px;
    transition: all 0.3s linear;
}

.sidebar_menu .menu i {
    color: #fff;
    font-size: 15px;
    /* padding-right: 8px; */
}

.sidebar_menu .menu a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.sidebar_menu .menu li:hover {
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}