.main_box .sidebar_menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 210px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .menu {
    position: absolute;
    top: 20px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 4px 0px 4px 25px;
    transition: all 0.3s linear;
}

.sidebar_menu .menu i {
    color: #fff;
    font-size: 15px;
    /* padding-right: 8px; */
}

.sidebar_menu .menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.sidebar_menu .menu li:hover {
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}


/* .social_media {
    position: absolute;
    left: 40%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}

.social_media i {
    padding: 0 5px;
    color: #fff;
    opacity: 0.6;
    font-size: 15px;
    transition: all 0.2s linear;
}

.social_media i:hover {
    opacity: 1;
} */