.social_media {
    position: absolute;
    left: 62%;
    bottom: 20px;
    width: 100%;
    transform: translateX(-50%);
    cursor: pointer;
}

.social_media a {
    padding: 0 5px;
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    transition: all 0.2s linear;
}

.social_media a:hover {
    opacity: 1;
}
